<!DOCTYPE html>
<html lang="en-us" ng-app="votingApp">
  <head>
    <title>Book Trading App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="stylesheet" type="text/css" href="css/darkly.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>

    <div class="container" ng-controller="navCtrl">
      
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
              <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/" class="navbar-brand">
                      <i class="fa fa-home" aria-hidden="true"></i> Book Trading App
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="loaded">
                  <li uib-dropdown on-toggle="toggled(open)" ng-show="current.user._id">
                    <a href id="simple-dropdown" uib-dropdown-toggle>
                      Signed in as {{current.user.username}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                      <li ng-show="current.user._id"><a href="/my-books">
                        <i class="fa fa-book" aria-hidden="true"></i> My Books
                      </a></li>
                      <li ng-show="current.user._id"><a href="/my-trades">
                        <i class="fa fa-exchange" aria-hidden="true"></i> Offers/Requests
                      </a></li>
                      <li class="divider"></li>
                      <li ng-show="current.user._id"><a href="/profile">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile
                      </a></li>
                      <li ng-show="current.user._id"><a href="/settings">
                        <i class="fa fa-gear" aria-hidden="true"></i> Settings
                      </a></li>
                      <li class="divider"></li>
                      <li ng-click="logout()"><a href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                      </a></li>
                    </ul>
                  </li>
                  <li ng-click="newUser()" ng-hide="current.user._id"><a href="#"> 
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                  </a></li>   
                </ul>
              </div>
            </nav>
        </header>

        <div class="container">
          <div ng-view></div>
        </div>
      
    </div>
  
    <footer class="footer">
        <div class="container">
          <p><small>
            <a href="https://www.freecodecamp.com/challenges/manage-a-book-trading-club" target="_blank">FCC Book Trading App</a> | 
            <a href="https://github.com/mtharmen/book-trading-app" target="_blank">GitHub Repo <i class="fa fa-github" aria-hidden="true"></i></a> | 
            <a href="http://fontawesome.io/" target="_blank">Icons from Font Awesome <i class="fa fa-font-awesome" aria-hidden="true"></i></a> |
            <a href="https://bootswatch.com/darkly/" target="_blank">Darkly Theme from Bootswatch</a>
          </small></p>
        </div>
    </footer>

  </body>
</html>